body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.imagem-fundo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}


.tela-oculta {
  display: none;
  padding: 20px;
}

.tela-visivel {
  display: block;
}
